doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript' src="/js/app.js").
    link(href="/css/app.css" rel="stylesheet").
  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
      footer
        p.
          dsadasdasdsa
            dsadas